extends layout

block content
    h3 Add New Glucose Reading
    form(method="POST" 
           action="/account/glucose/new" 
           enctype="application/x-www-form-urlencoded") 
        label(for='value') Value: 
        input(type="text" 
              name="value" 
              id="value" 
              autofocus="autofocus"
              size="25" 
              required) 
        br
        input(type="submit" 
             name="submit" 
             id="submit" 
             value="Submit") 
        
