tbody
    tr 
        td #{glucose.id} 
        td #{glucose.value.bs}
        td #{glucose.value.date} 
        td 
            a(href='/glucose/#{glucose.id}/edit') Edit 
        td 
            a(href='/widgets/#{glucose.id}') Delete
